################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/demoDotnet/DesignTimeBuild
/.vs/demoDotnet/v17/.futdcache.v1
/.vs/SCdemoDotnet/config/applicationhost.config
/.vs/SCdemoDotnet/v17/.suo
